@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.admin-page {
    padding: 20px;
    background-color: transparent;
    margin: 15px;
    margin-top: 40px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #71747a;
}

::placeholder {
    color: #ffffff99;
}

.input-field-sub-code {
    background-image: linear-gradient(to right ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    color: #ffffff;
    height: 45px;
    width: 100%;
    padding: 3px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 4px;
    font-family: "Roboto";
    text-align: center;
}

.input-field-sub-code:hover {
    background-image: linear-gradient(to left ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    transform: scale(1.02);
}

.select-btn {
    background-color: #52637d;
    background-image: linear-gradient(to right ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    color: #ffffff;
    height: 45px;
    width: 100%;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 4px;
    font-family: "Roboto";
}

.year-select-btn {
    background-color: #52637d;
    background-image: linear-gradient(to right ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    color: #ffffff;
    height: 45px;
    width: 100%;
    padding: 3px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 4px;
    font-family: "Roboto";
}

.select-btn:hover {
    background-image: linear-gradient(to left ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    transform: scale(1.02);
}

.Height {
    height: 50px;
}

.input-no-of-question {
    background-image: linear-gradient(to right ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    color: #ffffff;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 4px;
    font-family: "Roboto";
    text-align: center;
}

.input-no-of-question:hover {
    background-image: linear-gradient(to left ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    transform: scale(1.02);
}

.create-score-btn {
    background-image: linear-gradient(to right ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    color: #ffffff;
    height: 45px;
    width: 100%;
    padding: 3px;
    margin-top: 10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 4px;
    font-family: "Roboto";
}

.create-score-btn:hover {
    background-image: linear-gradient(to left ,#3da3bf, #358ba3, #2e7a8f, #1d4c59);
    transform: scale(1.02);
    color: #ffffff;
}

.head-question {
    font-family: "Roboto";
    color: #ffffff;
    margin-top: 20px;
    font-size: 25px;
}

.input-question {
    width: 100%;
    height: 100px;
    color: #ffffff;
    background-color: #0c1a30;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #71747a;
}

.input-question-image {
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    background-color: #0c1a30;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #71747a;
    height: 44rem;
}

.input-option-image {
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    background-color: #284a7d;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #71747a;
    height: 26rem;
}

.options-field {
    margin-top: 15px;
}

.input-option {
    width: 100%;
    height: 70px;
    color: #ffffff;
    text-align: center;
    background-color: #284a7d;
    border-style: solid;
    border-radius: 15px;
}

.upload-image-qn-btn {
    background-color: #52637d;
    color: #ffffff;
    height: 45px;
    width: 25%;
    padding: 3px;
    border-style: solid;
    border-radius: 4px;
    font-family: "Roboto";
    border: none;
    margin-top: 20px;
}

.upload-image-op-btn {
    background-color: #52637d;
    color: #ffffff;
    height: 45px;
    width: 50%;
    padding: 3px;
    border-style: solid;
    border-radius: 4px;
    font-family: "Roboto";
    border: none;
    margin-top: 20px;
}

.generate-btn {
    background-color: #52637d;
    color: #ffffff;
    height: 45px;
    width: 100%;
    padding: 3px;
    border-style: solid;
    border-radius: 4px;
    font-family: "Roboto";
    border: none;
    margin-top: 20px;
    display: none;
}

.generate-btn:hover {
    color: #ffffff;
    transform: scale(1.02);
}

.add-image-btn:hover {
    transform: scale(1.05);
}

.icons-container-margin {
    margin: 5px;
}

.horizontal-line {
    background-color: #71747a;
    margin-top: 50px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #284a7d;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
