@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.admin-page {
    background-color: transparent;
    margin: 25px;
    padding-top: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #4B95DF;
}

.admin-page-2 {
    background-color: transparent;
    margin: 25px;
    padding-top: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #4B95DF;
}

::placeholder {
    color: #000000b2;
}

.select-btn {
    background-color: #bbb16c;
    background-image: linear-gradient(to top ,#fcdf00, #fcdf00);
    color: #000000;
    height: 45px;
    width: 250px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 4px;
    font-family: "Roboto";
    text-align: center;
}

.select-btn:hover {
    color: #000000;
    transform: scale(1.02);
    cursor: pointer;
}

.horizontal {
    border: none;
    height: 2px;
    background-color: #4B95DF;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
}

.input-no-of-question {
    background-color: #fcdf00;
    color: #000000;
    height: 45px;
    width: 250px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 4px;
    font-family: "Roboto";
    text-align: center;
}

.input-no-of-question:hover {
    transform: scale(1.02);
}

.get-create-score-btn {
    background-color: #fcdf00;
    color: #000000;
    height: 45px;
    width: 250px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 4px;
    font-family: "Roboto";
}

.get-create-score-btn:hover {
    transform: scale(1.02);
    color: #000000;
}

.head-question {
    font-family: "Roboto";
    color: #000000;
    margin-top: 20px;
    font-size: 25px;
}

.input-question {
    width: 100%;
    height: 180px;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #4B95DF;
    border-width: 2px;
}

.input-question:hover {
    transform: scale(1.01);
}

.input-question-image {
    width: 100%;
    padding-top: 10px;
    color: #000000;
    margin-top: 10px;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #4B95DF;
    height: 45rem;
}

.input-question-image:hover {
    transform: scale(1.01);
}

.input-option-image-1 {
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    background: linear-gradient(130deg, #19A473 47.83%, #0FFFAB 66.98%);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #4B95DF;
    height: 26rem;
}

.input-option-image-2 {
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    background: linear-gradient(130deg, #2B6A77 46.37%, #50C5DD 90.66%);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #4B95DF;
    height: 26rem;
}

.input-option-image-3 {
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    background: linear-gradient(130deg, #684FC4 29.39%, #9788CD 88.33%);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #4B95DF;
    height: 26rem;
}

.input-option-image-4 {
    width: 100%;
    color: #ffffff;
    margin-top: 10px;
    background: linear-gradient(130deg, #129285 44.52%, #1EF8E2 80.04%);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #4B95DF;
    height: 26rem;
}

.input-option-image-1:hover {
    transform: scale(1.01);
}

.input-option-image-2:hover {
    transform: scale(1.01);
}

.input-option-image-3:hover {
    transform: scale(1.01);
}

.input-option-image-4:hover {
    transform: scale(1.01);
}

.options-field {
    margin-top: 15px;
}

.input-option-1 {
    width: 100%;
    height: 90px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(130deg, #19A473 47.83%, #0FFFAB 66.98%);
    border-style: solid;
    border-radius: 15px;
    border-color: #4B95DF;
}

.input-option-2 {
    width: 100%;
    height: 90px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(130deg, #2B6A77 46.37%, #50C5DD 90.66%);
    border-style: solid;
    border-radius: 15px;
    border-color: #4B95DF;
}

.input-option-3 {
    width: 100%;
    height: 90px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(130deg, #684FC4 29.39%, #9788CD 88.33%);
    border-style: solid;
    border-radius: 15px;
    border-color: #4B95DF;
}

.input-option-4 {
    width: 100%;
    height: 90px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(130deg, #129285 44.52%, #1EF8E2 80.04%);
    border-style: solid;
    border-radius: 15px;
    border-color: #4B95DF;
}

.input-option-1:hover {
    transform: scale(1.01);
}

.input-option-2:hover {
    transform: scale(1.01);
}

.input-option-3:hover {
    transform: scale(1.01);
}

.input-option-4:hover {
    transform: scale(1.01);
}

.upload-image-qn-btn {
    background-color: #4B95DF;
    color: #000000;
    height: 45px;
    width: 150px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 4px;
    font-family: "Roboto";
    margin-top: 20px;
}

.upload-image-qn-btn:hover {
    transform: scale(1.01);
}

.upload-image-op-btn {
    background-color: #4B95DF;
    color: #000000;
    height: 45px;
    width: 150px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 4px;
    font-family: "Roboto";
    margin-top: 20px;
}

.upload-image-op-btn:hover {
    transform: scale(1.01);
}

.generate-btn {
    background-color: #4B95DF;
    color: #000000;
    height: 45px;
    width: 150px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 4px;
    font-family: "Roboto";
    margin-top: 30px;
    margin-bottom: 25px;
    display: none;
}

.generate-btn:hover {
    transform: scale(1.01);
}

.formula-btn {
    cursor: pointer;
}

.formula-btn:hover {
    transform: scale(1.05);
}

.add-image-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.cancel-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.reduce-option-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.add-new-option-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.icons-container-margin {
    margin: 5px;
}

.horizontal-line {
    border: none;
    height: 2px;
    background-color: #4B95DF;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

input[type="radio"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #4B95DF;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all 0.08s ease-in-out;
}

input[type="radio"]:hover {
    border-color: #3478bd;
    background-color: #ccc;
    transform: scale(1.06);
}

input[type="radio"]:checked {
    background-color: #4B95DF;
    border: 4px solid #ccc;
    box-shadow: 0 0 0 2px #3478bd;
    transform: scale(1.00);
}

.custom-ok-button {
    color: #000000 !important;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}

.custom-ok-button:hover {
    transform: scale(1.05);
}

math-field::part(placeholder) {
    color: #000000b2 !important;
}
